<<<<<<< HEAD
h1{
	text-align: center;
}

.image{
	width: 400px;
	height: 350px;
}

.formulaire{
	flex-direction: column;
	align-items:  center;
}

div{
	display: flex;
}
=======
#div_hide{
	display: none;
}
>>>>>>> 92ea2122b317b721be85b8bd8a816858c1d529a0
