
h1
{
	text-align: center;
}



.image
{
	width: 400px;
	height: 350px;
}



.formulaire
{
	flex-direction: column;
	align-items:  center;
}



div
{
	display: flex;
}




#div_hide
{
	display: none;
}



body
{
	padding-top: 40px;
}



.form-inline 
{
	margin-right: 280px;
}



.btn-danger
{
	margin-left: 100px;
}


h4
{
	margin-right: 60px;
}


.speech_arrivée
{
	text-align: center;
}